@{
    ViewData["Title"] = "Лента Новостей";
}
@model News

@if (User.Identity.IsAuthenticated)

{
    <div class="card" >
    <div class="card-header">Добавление новой записи</div>
    <div class="card-body">

        <form asp-controller="Home" asp-action="AddNewPost" method="post" enctype="multipart/form-data">
            <span>Введите текст</span>
            <textarea class="form-control" rows="5" asp-for="Text"></textarea>
            <input type="file" accept=".jpg,.jpeg,.png" class="hidden" name="imageData" />


        </form>
    </div>
    <div class="card-footer">         
        <input type="submit" />
    </div>
        </div>
}
<div>
    @foreach (News post in ViewBag.Posts)
    {
        <div class="card" style=" border: 1px solid black;">
            <div class="card-header">
                <img src="~/img/avatar1.jpg" height=" 30" style="border-radius:50%" />
                <label>@post.Author.Nickname</label>
                <label>@post.CreateDateLabel</label>
            </div>
            <div class="card-body">
            @if (post.Text != null)
            {
                <div>
                    <label>@post.Text</label>
                </div>
            }

            <div>
                @if (post.Photo.HasValue && Guid.Empty != post.Photo.Value)
                {
                    var photoUrl = Surfclub.Helper.ImageHelper.GetUrl(post.Photo);
                    @if (photoUrl != null)
                    {
                        <img src="@Url.Content(photoUrl)" width="400px" />
                    }
                }

            </div>
            </div>
        </div>

    }
</div>
